#page-background {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	height: 300px;
	width: 100%;

	z-index: -100;

	// // background-image: url('../../assets/images/full/subterra_technische_ruimte_closeup_kikkerperspectief.JPG');
	// // ^ moved to responsive-backgrounds.inc.less
	// background-repeat: no-repeat;
	// background-size: cover;
	// background-position: center center;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

#page-overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	background: rgba( 0, 128, 0, 0.5 );
}

#page-header {
	position: absolute;
	width: 100%;
	bottom: 0;
	padding: @bp0-block-margin-vertical @bp0-block-margin-horizontal;

	a {
		display: block;
		padding: @bp0-block-padding-vertical @bp0-block-padding-horizontal;

		color: @inverted-font-color;
		text-decoration: none;
	}
}

#page-header-title {
	display: inline-block;

	a {
		background: @inverted-background-color;

		&:visited {

		}

		&:hover, &:active {
			background: @content-background-color;
			color: @font-color;
		}

		&:focus {
			// -webkit-user-select: none;
			// -khtml-user-select: none;
			// -moz-user-select: none;
			// -o-user-select: none;
			// user-select: none;
			// outline: none;

			-webkit-tap-highlight-color: rgba(255, 255, 255, 0); 
			-webkit-tap-highlight-color: transparent;
		}
	}

	h1 {
		margin: 0;

		font-size: @bp0-header-font-size;
		line-height: @bp0-header-line-height;
	}
}

#page-nav-toggle {
	display: inline-block;
	float: right;

	a {
		padding-right: 0;

		&:visited {

		}

		// no :hover, cleaner on mobile
		// &:active {
		// 	color: @font-color;
		// }
	}

	span {
		width: 1em;

		font-size: @bp0-header-font-size;
		line-height: @bp0-header-line-height;
		text-align: center;
	}
}





//           ##     ## 
//           ##     ## 
//           ##     ## 
//           ######### 
//           ##     ## 
//           ##     ## 
//           ##     ## 


@media @bph-rule {
	#page-background {
		height: 100%;
	}
}





//           ######## 
//           ##       
//           ##       
//           #######  
//                 ## 
//           ##    ## 
//            ######  


@media @bp5-rule {
	#page-header {
		padding:
			@bp5-block-margin-vertical
			@bp5-block-margin-horizontal;

		a {
			padding:
				@bp5-block-padding-vertical
				@bp5-block-padding-horizontal;
		}
	}

	#page-header-title {
		
	}

	#page-nav-toggle {
		
	}
}





//              ##     #####   
//            ####    ##   ##  
//              ##   ##     ## 
//              ##   ##     ## 
//              ##   ##     ## 
//              ##    ##   ##  
//            ######   #####   


@media @bp10-rule {
	#page-background {
		height: @bp10-header-height;
	}

	#header-row {
		// width: @bp10-row-width;
		margin: 0 @bp10-row-margin-horizontal;
	}

	#page-header {
		position: static;
		width: auto;
		// width: @bp10-row-width;
		padding:
			@bp10-block-margin-vertical			// normally 0
			@bp10-block-margin-horizontal
			@bp10-block-margin-vertical
			0;

		a {
			padding: @bp10-block-padding-vertical @bp10-block-padding-horizontal;
		}
	}

	// also see above-fold.inc.less
	// .home #page-header {
	// 	position: absolute;
	// }

	#page-header-title {
		h1 {
			font-size: @bp10-header-font-size;
			line-height: @bp10-header-line-height;
		}
	}

	#page-nav-toggle {
		display: none;
	}
}





//            #######    #####   
//           ##     ##  ##   ##  
//                  ## ##     ## 
//            #######  ##     ## 
//           ##        ##     ## 
//           ##         ##   ##  
//           #########   #####   


@media @bp20-rule {
	#header-row {
		width: @bp20-row-width;
		margin: 0 auto;
	}
}
